html {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #B2DFDB;
}
.gallery-parent{
    //text-align: center;
    margin: 0 auto;
    //width: 60rem;
    height: 100rem;
    width: 40rem;
    
}
.gallery{
    position: relative;
    display: flex;
    flex-direction: column;
}
.pd6-photo{
    height: 20rem;
    position: absolute;
    transition: all 0.3s;
}
.car {
    top: 30rem;
    left: 1%;
    
}
.car:hover {
    outline: 1rem solid white;
}
.hot-dog {
    top: 2rem;
    right: -60rem;
}
.hot-dog:hover {
    box-shadow: 0.5rem 1rem #888888;
}
.ALPS {
    top: 4rem;
    bottom: -10rem;
   }
   .ALPS:hover {
    filter: grayscale(80%);
    border-radius: 10rem;
   }
   .US{
       top: 75rem;
       bottom: -20rem,
   }
   .US:hover {
    filter: hue-rotate(100deg);
    transition: all 0.3s;
   }
   .PLEB {
    position: relative;
    top: 100rem;
    bottom: -15rem,
   }
   .PLEB:hover{
    filter: blur(2px);
    z-index: 1;
    border-radius: 1rem;
   }
   
  
.pd6-photo:hover{
    transform: scale(1.3);
    z-index: 2;
}
.gallery:hover .pd6-photo:not(:hover) {
transform: scale(.5);
opacity: 0.3;
}
.button {
    position:relative;
    transition: .5s ease;
    top: 25rem;
    left: 42rem;
    right: -42rem;
    bottom: -19rem;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 1.5rem 3.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    font-family: 'Girassol', cursive;
    width: 10vw;
 }
 .button:hover {
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 0.5rem 1rem #888888;
 }